In [1]:
from datetime import date


print("Name- Pratyush Mohanty")
print("Roll No-118CS0180")
print("Date- {}".format(date.today()))
print("Machine learning Lab 6")

Name- Pratyush Mohanty
Roll No-118CS0180
Date- 2021-10-05
Machine learning Lab 6

# Question 1

#  ID3 algorithm

In [2]:
import numpy as np

class GadId3Classifier:
    def fit(self, input, output):
        data = input.copy()
        data[output.name] = output
        self.tree = self.decision_tree(data, data, input.columns, output.name)

    def predict(self, input):
        # convert input data into a dictionary of samples
        samples = input.to_dict(orient='records')
        predictions = []

        # make a prediction for every sample
        for sample in samples:
            predictions.append(self.make_prediction(sample, self.tree, 1.0))

        return predictions

    def entropy(self, attribute_column):
        # find unique values and their frequency counts for the given attribute
        values, counts = np.unique(attribute_column, return_counts=True)

        # calculate entropy for each unique value
        entropy_list = []

        for i in range(len(values)):
            probability = counts[i]/np.sum(counts)
            entropy_list.append(-probability*np.log2(probability))

        # calculate sum of individual entropy values
        total_entropy = np.sum(entropy_list)

        return total_entropy

    def information_gain(self, data, feature_attribute_name, target_attribute_name):
        # find total entropy of given subset
        total_entropy = self.entropy(data[target_attribute_name])

        # find unique values and their frequency counts for the attribute to be split
        values, counts = np.unique(data[feature_attribute_name], return_counts=True)

        # calculate weighted entropy of subset
        weighted_entropy_list = []

        for i in range(len(values)):
            subset_probability = counts[i]/np.sum(counts)
            subset_entropy = self.entropy(data.where(data[feature_attribute_name]==values[i]).dropna()[target_attribute_name])
            weighted_entropy_list.append(subset_probability*subset_entropy)

        total_weighted_entropy = np.sum(weighted_entropy_list)

        # calculate information gain
        information_gain = total_entropy - total_weighted_entropy

        return information_gain

    def decision_tree(self, data, orginal_data, feature_attribute_names, target_attribute_name, parent_node_class=None):
        # base cases:
        # if data is pure, return the majority class of subset
        unique_classes = np.unique(data[target_attribute_name])
        if len(unique_classes) <= 1:
            return unique_classes[0]
        # if subset is empty, ie. no samples, return majority class of original data
        elif len(data) == 0:
            majority_class_index = np.argmax(np.unique(original_data[target_attribute_name], return_counts=True)[1])
            return np.unique(original_data[target_attribute_name])[majority_class_index]
        # if data set contains no features to train with, return parent node class
        elif len(feature_attribute_names) == 0:
            return parent_node_class
        # if none of the above are true, construct a branch:
        else:
          # determine parent node class of current branch
            majority_class_index = np.argmax(np.unique(data[target_attribute_name], return_counts=True)[1])
            parent_node_class = unique_classes[majority_class_index]

          # determine information gain values for each feature
          # choose feature which best splits the data, ie. highest value
            ig_values = [self.information_gain(data, feature, target_attribute_name) for feature in feature_attribute_names]
            best_feature_index = np.argmax(ig_values)
            best_feature = feature_attribute_names[best_feature_index]

          # create tree structure, empty at first
            tree = {best_feature: {}}

          # remove best feature from available features, it will become the parent node
            feature_attribute_names = [i for i in feature_attribute_names if i != best_feature]

          # create nodes under parent node
            parent_attribute_values = np.unique(data[best_feature])
            for value in parent_attribute_values:
                sub_data = data.where(data[best_feature] == value).dropna()

            # call the algorithm recursively
                subtree = self.decision_tree(sub_data, orginal_data, feature_attribute_names, target_attribute_name, parent_node_class)

              # add subtree to original tree
                tree[best_feature][value] = subtree

            return tree

    def make_prediction(self, sample, tree, default=1):
    # map sample data to tree
        for attribute in list(sample.keys()):
          # check if feature exists in tree
          if attribute in list(tree.keys()):
            try:
                result = tree[attribute][sample[attribute]]
            except:
                return default

            result = tree[attribute][sample[attribute]]

            # if more attributes exist within result, recursively find best result
            if isinstance(result, dict):
                return self.make_prediction(sample, result)
            else:
                return result

# Library used

In [3]:
from sklearn import preprocessing
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

data = r"C:\Users\Pratyush\Downloads\wealth.csv"
df = pd.read_csv(data)

In [4]:
df
df = df.replace("?", np.nan)
df = df.dropna()

# Preprocessing

In [5]:
from sklearn import preprocessing
age2 = preprocessing.LabelEncoder()
age1=age2.fit_transform(df["age"])

workclass2 = preprocessing.LabelEncoder()
workclass1=workclass2.fit_transform(df["workclass"])

fnlwgt2 = preprocessing.LabelEncoder()
fnlwgt1=fnlwgt2.fit_transform(df["fnlwgt"])

education2 = preprocessing.LabelEncoder()
education1=education2.fit_transform(df["education"])

education_num2 = preprocessing.LabelEncoder()
education_num1=education_num2.fit_transform(df["education.num"])

marital_status2 = preprocessing.LabelEncoder()
marital_status1=marital_status2.fit_transform(df["marital.status"])

occupation2 = preprocessing.LabelEncoder()
occupation1=occupation2.fit_transform(df["occupation"])

relationship2 = preprocessing.LabelEncoder()
relationship1=relationship2.fit_transform(df["relationship"])


race2 = preprocessing.LabelEncoder()
race1=race2.fit_transform(df["race"])

sex2 = preprocessing.LabelEncoder()
sex1=sex2.fit_transform(df["sex"])



capital_gain2 = preprocessing.LabelEncoder()
capital_gain1=capital_gain2.fit_transform(df["capital.gain"])

capital_loss2 = preprocessing.LabelEncoder()
capital_loss1=capital_loss2.fit_transform(df["capital.loss"])


hours_per_week2 = preprocessing.LabelEncoder()
hours_per_week1=hours_per_week2.fit_transform(df["hours.per.week"])

native_country2 = preprocessing.LabelEncoder()
native_country1=native_country2.fit_transform(df["native.country"])

income2 = preprocessing.LabelEncoder()
income1=income2.fit_transform(df["income"])

In [6]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [7]:
list_of_tuples = list(zip(age1, workclass1, fnlwgt1, education1, education_num1,
       marital_status1, occupation1, relationship1, race1, sex1,
       capital_gain1, capital_loss1, hours_per_week1, native_country1,
       income1))
   
# Assign data to tuples.
list_of_tuples 
 
 
# Converting lists of tuples into
# pandas Dataframe.
df2 = pd.DataFrame(list_of_tuples,
                  columns = ['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'])
    
# Print data.
df2

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,65,2,6096,11,8,6,3,1,4,0,0,89,17,38,0
1,37,2,6564,5,3,0,6,4,4,0,0,88,39,38,0
2,24,2,15770,15,9,5,9,3,4,0,0,88,39,38,0
3,17,2,13278,11,8,0,7,4,4,0,0,87,44,38,0
4,21,2,7296,0,5,5,0,4,4,1,0,87,39,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30157,5,2,17375,15,9,4,10,1,4,1,0,0,39,38,0
30158,10,2,15471,7,11,2,12,5,4,0,0,0,37,38,0
30159,23,2,7555,11,8,2,6,0,4,1,0,0,39,38,1
30160,41,2,7377,11,8,6,0,4,4,0,0,0,39,38,0
30161,5,2,12060,11,8,4,0,3,4,1,0,0,19,38,0

In [8]:
X = df2.drop(columns="income")
y = df2["income"]

Test train split

In [9]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [10]:
len(df2)

30162

# training of the dataset

In [11]:
# initialize and fit model
model = GadId3Classifier()
model.fit(X_train, y_train)

In [12]:
# return accuracy score
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.5012121212121212

# SSR,SSE,SST,R**2

In [13]:
y_pred

[0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 0.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 ...]

In [14]:
mean_y = np.mean(y)
mean_y_pred = np.mean(y_pred)


ssr=[]
for i in y_pred:
    ssr.append((i-mean_y)**2)
SSR=sum(ssr)

#SSR = np.sum((y_pred - mean_y)**2)
SSE = np.sum((y[:len(y_pred)] - y_pred)**2)
SST = np.sum((y - mean_y)**2)
R_2 = 1-(SSE/SST)

print(f"SSR: {round(SSR, 2)}")
print(f"SSE: {round(SSE, 2)}")
print(f"SST: {round(SST, 2)}")
print(f"R_2: {round(R_2, 5)}")

SSR: 401.64
SSE: 717.0
SST: 1249.73
R_2: 0.42627

# T-Test

In [15]:
import math
t_val = (abs(mean_y - mean_y_pred)*((df2.shape[0])**0.5))/np.std(y[:len(y_pred)]-y_pred)

t_test_val = (1/(2*math.pi)**0.5)*math.exp(-0.5*t_val)
print("t_test_val > 0.05 so we will not reject the hypothesis")
print("t_test value: ", t_test_val)

t_test_val > 0.05 so we will not reject the hypothesis
t_test value:  1.2573337826130208e-31

# F-Test

In [16]:
f_val = (np.std(y))**2/(np.std(y_pred))**2

f_test_val = (1/(2*math.pi)**0.5)*math.exp(-0.5*f_val)
print("f_test_val > 0.05, so we will not reject the hypothesis")
print("f_test value: ", f_test_val)

f_test_val > 0.05, so we will not reject the hypothesis
f_test value:  0.03091116301768488

# Question 2

# ID3 Algorithm

In [17]:
import numpy as np

class GadId3Classifier:
    def fit(self, input, output):
        data = input.copy()
        data[output.name] = output
        self.tree = self.decision_tree(data, data, input.columns, output.name)

    def predict(self, input):
        # convert input data into a dictionary of samples
        samples = input.to_dict(orient='records')
        predictions = []

        # make a prediction for every sample
        for sample in samples:
            predictions.append(self.make_prediction(sample, self.tree, 1.0))

        return predictions

    def entropy(self, attribute_column):
        # find unique values and their frequency counts for the given attribute
        values, counts = np.unique(attribute_column, return_counts=True)

        # calculate entropy for each unique value
        entropy_list = []

        for i in range(len(values)):
            probability = counts[i]/np.sum(counts)
            entropy_list.append(-probability*np.log2(probability))

        # calculate sum of individual entropy values
        total_entropy = np.sum(entropy_list)

        return total_entropy

    def information_gain(self, data, feature_attribute_name, target_attribute_name):
        # find total entropy of given subset
        total_entropy = self.entropy(data[target_attribute_name])

        # find unique values and their frequency counts for the attribute to be split
        values, counts = np.unique(data[feature_attribute_name], return_counts=True)

        # calculate weighted entropy of subset
        weighted_entropy_list = []

        for i in range(len(values)):
            subset_probability = counts[i]/np.sum(counts)
            subset_entropy = self.entropy(data.where(data[feature_attribute_name]==values[i]).dropna()[target_attribute_name])
            weighted_entropy_list.append(subset_probability*subset_entropy)

        total_weighted_entropy = np.sum(weighted_entropy_list)

        # calculate information gain
        information_gain = total_entropy - total_weighted_entropy

        return information_gain

    def decision_tree(self, data, orginal_data, feature_attribute_names, target_attribute_name, parent_node_class=None):
        # base cases:
        # if data is pure, return the majority class of subset
        unique_classes = np.unique(data[target_attribute_name])
        if len(unique_classes) <= 1:
            return unique_classes[0]
        # if subset is empty, ie. no samples, return majority class of original data
        elif len(data) == 0:
            majority_class_index = np.argmax(np.unique(original_data[target_attribute_name], return_counts=True)[1])
            return np.unique(original_data[target_attribute_name])[majority_class_index]
        # if data set contains no features to train with, return parent node class
        elif len(feature_attribute_names) == 0:
            return parent_node_class
        # if none of the above are true, construct a branch:
        else:
          # determine parent node class of current branch
            majority_class_index = np.argmax(np.unique(data[target_attribute_name], return_counts=True)[1])
            parent_node_class = unique_classes[majority_class_index]

          # determine information gain values for each feature
          # choose feature which best splits the data, ie. highest value
            ig_values = [self.information_gain(data, feature, target_attribute_name) for feature in feature_attribute_names]
            best_feature_index = np.argmax(ig_values)
            best_feature = feature_attribute_names[best_feature_index]

          # create tree structure, empty at first
            tree = {best_feature: {}}

          # remove best feature from available features, it will become the parent node
            feature_attribute_names = [i for i in feature_attribute_names if i != best_feature]

          # create nodes under parent node
            parent_attribute_values = np.unique(data[best_feature])
            for value in parent_attribute_values:
                sub_data = data.where(data[best_feature] == value).dropna()

            # call the algorithm recursively
                subtree = self.decision_tree(sub_data, orginal_data, feature_attribute_names, target_attribute_name, parent_node_class)

              # add subtree to original tree
                tree[best_feature][value] = subtree

            return tree

    def make_prediction(self, sample, tree, default=1):
    # map sample data to tree
        for attribute in list(sample.keys()):
          # check if feature exists in tree
          if attribute in list(tree.keys()):
            try:
                result = tree[attribute][sample[attribute]]
            except:
                return default

            result = tree[attribute][sample[attribute]]

            # if more attributes exist within result, recursively find best result
            if isinstance(result, dict):
                return self.make_prediction(sample, result)
            else:
                return result

# Library used

In [18]:
from sklearn import preprocessing
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

data = r"C:\Users\Pratyush\Downloads\speech.csv"
df = pd.read_csv(data)

In [19]:
df.head()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender Probablity
0,Cool,Rock,Vodka,7UP/Sprite,0.782757
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,0.692759
2,Warm,Rock,Wine,Coca Cola/Pepsi,0.841684
3,Warm,Folk/Traditional,Whiskey,Fanta,0.887022
4,Cool,Rock,Vodka,Coca Cola/Pepsi,0.672850

In [20]:
df.columns

Index(['Favorite Color', 'Favorite Music Genre', 'Favorite Beverage',
       'Favorite Soft Drink', 'Gender Probablity'],
      dtype='object')

# Preprocessing

In [21]:
df
df = df.replace("?", np.nan)
df = df.dropna()

In [22]:
from sklearn import preprocessing
Favorite_Color2 = preprocessing.LabelEncoder()
Favorite_Color1=Favorite_Color2.fit_transform(df["Favorite Color"])

Favorite_Music_Genre2 = preprocessing.LabelEncoder()
Favorite_Music_Genre1=Favorite_Music_Genre2.fit_transform(df["Favorite Music Genre"])

Favorite_Beverage2 = preprocessing.LabelEncoder()
Favorite_Beverage1=Favorite_Beverage2.fit_transform(df["Favorite Beverage"])

Favorite_Soft_Drink2 = preprocessing.LabelEncoder()
Favorite_Soft_Drink1=Favorite_Soft_Drink2.fit_transform(df["Favorite Soft Drink"])

Gender_Probablity2 = preprocessing.LabelEncoder()
Gender_Probablity1=Gender_Probablity2.fit_transform(df["Gender Probablity"])

In [23]:
list_of_tuples = list(zip(Favorite_Color1, Favorite_Music_Genre1, Favorite_Beverage1,
       Favorite_Soft_Drink1, Gender_Probablity1))
   
# Assign data to tuples.
list_of_tuples 
 
 
# Converting lists of tuples into
# pandas Dataframe.
df2 = pd.DataFrame(list_of_tuples,
                  columns = ['Favorite Color', 'Favorite Music Genre', 'Favorite Beverage',
       'Favorite Soft Drink', 'Gender Probablity'])
    
# Print data.
df2

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender Probablity
0,0,6,3,0,55
1,1,2,3,1,47
2,2,6,5,1,57
3,2,1,4,2,61
4,0,6,3,1,45
...,...,...,...,...,...
61,0,6,3,1,7
62,0,2,0,1,3
63,1,2,1,2,30
64,0,6,5,1,32
65,0,0,0,1,18

In [24]:
X = df2.drop(columns="Gender Probablity")
y = df2["Gender Probablity"]

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [26]:
model = GadId3Classifier()
model.fit(X_train, y_train)

In [27]:
y_pred = model.predict(X_test)
#y_pred=list(map(int,y_pred))
accuracy_score(y_test, y_pred)

0.0

# SSR,SSE,SST,R**2

In [28]:
mean_y = np.mean(y)
mean_y_pred = np.mean(y_pred)


ssr=[]
for i in y_pred:
    ssr.append((i-mean_y)**2)
SSR=sum(ssr)

#SSR = np.sum((y_pred - mean_y)**2)
SSE = np.sum((y[:len(y_pred)] - y_pred)**2)
SST = np.sum((y - mean_y)**2)
R_2 = 1-(SSE/SST)

print(f"SSR: {round(SSR, 2)}")
print(f"SSE: {round(SSE, 2)}")
print(f"SST: {round(SST, 2)}")
print(f"R_2: {round(R_2, 5)}")

SSR: 10090.25
SSE: 24946.0
SST: 23952.5
R_2: -0.04148

# T-Test

In [29]:
import math
t_val = (abs(mean_y - mean_y_pred)*((df2.shape[0])**0.5))/np.std(y[:len(y_pred)]-y_pred)

t_test_val = (1/(2*math.pi)**0.5)*math.exp(-0.5*t_val)
print("t_test_val > 0.05 so we will not reject the hypothesis")
print("t_test value: ", t_test_val)

t_test_val > 0.05 so we will not reject the hypothesis
t_test value:  0.013821243866011359

# F-Test

In [30]:
f_val = (np.std(y))**2/(np.std(y_pred))**2

f_test_val = (1/(2*math.pi)**0.5)*math.exp(-0.5*f_val)
print("f_test_val > 0.05, so we will not reject the hypothesis")
print("f_test value: ", f_test_val)

f_test_val > 0.05, so we will not reject the hypothesis
f_test value:  0.23476637883094345

In [31]:
print(" "*58+"The end")

                                                          The end